@charset "utf-8";
/* CSS Document */
body {
	width:100px;
	height:100px;
	text-align:center;
}
#thediv_scroll{
height:300px;
width:300px;
margin-left:300px;
border:1px #999999 solid;
padding: 5px 5px 5px 5px;
overflow:auto; 
}